RewriteEngine On
RewriteBase /FinancialApp
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]

# Allow access to the assets directory
<IfModule mod_headers.c>
    <FilesMatch "\.(css|js|png|jpg|jpeg|gif|ico|woff|woff2|ttf|svg)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
</IfModule>