/* Home style */
body {
    background-image: url("photos/bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1E3FA8;
}

.homeContainer {
    padding-top: 50px;
}

.homeContainer {
    justify-content: center;
    text-align: center;
}

.homeContainer h1 {
    margin-top: 280px;
}

.homeContainer h1 span {
    color: #BD53ED;
}

.homeContainer button {
    height: 50px;
    width: 130px;
    font-size: 17px;
    background-color: #000080;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.homeContainer button:hover {
    background-color: #4182FA;
}


/* Footer style */
.footerContainer {
    display: flex;
    color: white;
    background-color: #191919;
    font-size: 20px;
    justify-content: space-between;
}

.firstBlock {
    padding: 10px 20px;
}

.secondBlock {
    padding: 10px 20px;
}

.thirdBlock {
    padding: 20px 20px;
}

.fourthBlock {
    padding: 20px 40px;
}

/* card table */
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
    max-width: 1444px;
    margin: 118px auto;
    padding: 24px;
    gap: 29px;
    margin-top: 608px;
}

.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}


.card-list .card-item:hover {
    border: 2px solid #000;
}

.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .developer {
    background-color: #F7DFF5;
    color: #B22485;
}

.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}

.card-list .editor {
    background-color: #d6f8d6;
    color: #205c20;
}

.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}

.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
    background: #000;
    color: #fff;
}

@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}

@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
} 

